name: L2 cache CI

on:
  push:
    branches:
      - '**'
  pull_request:
  schedule:
    - cron: '00 1 * * MON'

jobs:
  scala-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repository
        uses: actions/checkout@v3
        with:
          path: l2-cache

      - name: Checkout soc-comm repository
        uses: actions/checkout@v3
        with:
          repository: t-crest/soc-comm
          path: soc-comm

      - name: Checkout patmos repository
        uses: actions/checkout@v3
        with:
          repository: t-crest/patmos
          path: patmos

      # Chisel test is only compatible with older versions of verilator
#      - name: Setup verilator
#        uses: v0xnihili/install-verilator-action@main
#        with:
#          version: "v4.100"
#
#      - name: Verify verilator
#        run: verilator --version
#
#      - name: Setup Scala
#        uses: olafurpg/setup-scala@v14
#
#      - name: Run sbt tests
#        working-directory: ./l2-cache
#        run: sbt test

  build-tools:
    runs-on: ubuntu-latest
    needs: [scala-test]

    steps:
      - name: Install prerequisites
        run: sudo apt install openjdk-11-jdk cmake make subversion libelf-dev graphviz libboost-dev libboost-program-options-dev chrpath liblpsolve55-dev gtkwave gtkterm scala libfl2 expect verilator

      - name: Setup Scala
        uses: olafurpg/setup-scala@v14

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Checkout patmos-misc
        uses: actions/checkout@v3
        with:
          repository: t-crest/patmos-misc
          path: t-crest/misc

      - name: Add path
        working-directory: t-crest/
        run: echo "$PWD/local/bin" >> $GITHUB_PATH

      - name: Setup tools
        working-directory: t-crest/
        run: ./misc/build.sh -q simulator llvm2 argo soc-comm poseidon patmos #bench

#      # TODO: Better add an l2 config file in patmos
#      - name: Build patmos emulator with L2 cache
#        working-directory: t-crest/
#        run: |
#          cd patmos/
#          sed -i '17i\<L2Cache size="64k" ways="8" bytesPerBlock="64" repl="plru" />' hardware/config/altde2-115.xml
#          cat hardware/config/altde2-115.xml
#          make emulator

      - name: Package tools
        run: |
          mkdir artifacts
          mkdir -p t-crest/bench
          cp -vr t-crest/local artifacts/
          cp -vr t-crest/misc artifacts/
          cp -vr t-crest/bench artifacts/

      - name: Upload tools
        uses: actions/upload-artifact@v4
        with:
          name: patmos-tools
          path: artifacts

  tacle-bench-app-test:
    runs-on: ubuntu-latest
    needs: [ build-tools ]

    steps:
      - name: Download tools
        uses: actions/download-artifact@v4
        with:
          name: patmos-tools
          path: artifacts/

      - name: Add tools to path
        run: |
          mkdir t-crest/
          cp -vr artifacts/local/ t-crest/
          sudo chmod -v +x t-crest/local/bin/*
          echo "$PWD/t-crest/local/bin" >> $GITHUB_PATH

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Checkout TACLe benchmark repository
        uses: actions/checkout@v3
        with:
          repository: tacle/tacle-bench
          path: t-crest/tacle

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Run TACLe benchmarks
        working-directory: t-crest/
        run: |
          cp l2-cache/scripts/tacle_test.sh tacle/bench/app/
          cd tacle/bench/app/
          chmod +x tacle_test.sh && ./tacle_test.sh

  tacle-bench-kernel-test:
    runs-on: ubuntu-latest
    needs: [ build-tools ]

    steps:
      - name: Download tools
        uses: actions/download-artifact@v4
        with:
          name: patmos-tools
          path: artifacts/

      - name: Add tools to path
        run: |
          mkdir t-crest/
          cp -vr artifacts/local/ t-crest/
          sudo chmod -v +x t-crest/local/bin/*
          echo "$PWD/t-crest/local/bin" >> $GITHUB_PATH

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Checkout TACLe benchmark repository
        uses: actions/checkout@v3
        with:
          repository: tacle/tacle-bench
          path: t-crest/tacle

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Run TACLe benchmarks
        working-directory: t-crest/
        run: |
          cp l2-cache/scripts/tacle_test.sh tacle/bench/kernel/
          cd tacle/bench/kernel/
          chmod +x tacle_test.sh
          ./tacle_test.sh --skip pm/ --skip isqrt/

  tacle-bench-sequential-test:
    runs-on: ubuntu-latest
    needs: [ build-tools ]

    steps:
      - name: Download tools
        uses: actions/download-artifact@v4
        with:
          name: patmos-tools
          path: artifacts/

      - name: Add tools to path
        run: |
          mkdir t-crest/
          cp -vr artifacts/local/ t-crest/
          sudo chmod -v +x t-crest/local/bin/*
          echo "$PWD/t-crest/local/bin" >> $GITHUB_PATH

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Checkout TACLe benchmark repository
        uses: actions/checkout@v3
        with:
          repository: tacle/tacle-bench
          path: t-crest/tacle

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Run TACLe benchmarks
        working-directory: t-crest/
        run: |
          cp l2-cache/scripts/tacle_test.sh tacle/bench/sequential/
          cd tacle/bench/sequential/
          chmod +x tacle_test.sh && ./tacle_test.sh

  tacle-bench-test-test:
    runs-on: ubuntu-latest
    needs: [ build-tools ]

    steps:
      - name: Download tools
        uses: actions/download-artifact@v4
        with:
          name: patmos-tools
          path: artifacts/

      - name: Add tools to path
        run: |
          mkdir t-crest/
          cp -vr artifacts/local/ t-crest/
          sudo chmod -v +x t-crest/local/bin/*
          echo "$PWD/t-crest/local/bin" >> $GITHUB_PATH

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Checkout TACLe benchmark repository
        uses: actions/checkout@v3
        with:
          repository: tacle/tacle-bench
          path: t-crest/tacle

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Run TACLe benchmarks
        working-directory: t-crest/
        run: |
          cp l2-cache/scripts/tacle_test.sh tacle/bench/test/
          cd tacle/bench/test/
          chmod +x tacle_test.sh && ./tacle_test.sh

  patmos-bench-test:
    runs-on: ubuntu-latest
    needs: [ build-tools ]

    steps:
      - name: Download tools
        uses: actions/download-artifact@v4
        with:
          name: patmos-tools
          path: artifacts/

      - name: Add tools to path
        run: |
          mkdir t-crest/
          cp -vr artifacts/local t-crest/
          cp -vr artifacts/misc t-crest/
          cp -vr artifacts/bench t-crest/
          sudo chmod -v +x t-crest/local/bin/*
          echo "$PWD/t-crest/local/bin" >> $GITHUB_PATH

      - name: Build patmos bench
        run: t-crest/misc/build.sh -q bench

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Patmos benchmarks
        run: |
          sed -i '328i\    set_tests_properties(${name}_hw PROPERTIES TIMEOUT 18000)' t-crest/bench/cmake/patmos-clang-toolchain.cmake
          t-crest/misc/build.sh -t bench