name: Sbt Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repository
        uses: actions/checkout@v3
        with:
          path: l2-cache

      # Checkout soc-comm
      - name: Checkout soc-comm repository
        uses: actions/checkout@v3
        with:
          repository: t-crest/soc-comm
          path: soc-comm

      # Checkout patmos
      - name: Checkout patmos repository
        uses: actions/checkout@v3
        with:
          repository: t-crest/patmos
          path: patmos

      # Install verilator
      - name: Setup verilator
        uses: v0xnihili/install-verilator-action@main
        with:
          version: "v4.100"

      # Verify verilator installation
      - name: Validate verilator
        run: verilator --version

      - name: Setup Scala
        uses: olafurpg/setup-scala@v14

      - name: Run sbt tests
        working-directory: ./l2-cache
        run: sbt test
