name: TACLe Benchmark Test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install prerequisites
        run: sudo apt install openjdk-11-jdk cmake make subversion libelf-dev graphviz libboost-dev libboost-program-options-dev chrpath liblpsolve55-dev gtkwave gtkterm scala libfl2 expect verilator

      - name: Setup Scala
        uses: olafurpg/setup-scala@v14

      - name: Checkout L2 cache
        uses: actions/checkout@v3
        with:
          path: t-crest/l2-cache

      - name: Checkout patmos-misc
        uses: actions/checkout@v3
        with:
          repository: t-crest/patmos-misc
          path: t-crest/misc

      - name: Add path
        working-directory: t-crest/
        run: echo "$PWD/local/bin" >> $GITHUB_PATH

      - name: Setup tools
        working-directory: t-crest/
        run: ./misc/build.sh -q

      - name: Checkout TACLe benchmark repository
        uses: actions/checkout@v3
        with:
          repository: tacle/tacle-bench
          path: t-crest/tacle

      # TODO: Better add an l2 config file in patmos
      - name: Build patmos emulator with L2
        working-directory: t-crest/
        run: |
          cd patmos/
          sed -i '17i\<L2Cache size="64k" ways="8" bytesPerBlock="64" repl="plru" />' hardware/config/altde2-115.xml
          cat hardware/config/altde2-115.xml
          make emulator

      - name: Verify patmos-clang
        run: patmos-clang --version

      - name: Verify emulator
        run: patemu -h

      - name: Run TACLe benchmarks
        working-directory: t-crest/tacle/bench
        run: |
          set +e
          
          COMPILER=patmos-clang
          COMPILER_OPTIONS=" -Wall -Wno-unknown-pragmas -Werror -O2"
          EXEC=patemu
          PASS=0
          FAIL_COMP=0
          FAIL_EXEC=0

          for dir in */ ; do
              # Skip the 'parallel' directory entirely
              [[ "$dir" == "parallel/" ]] && continue

              printf "Entering ${dir}\n"
              cd "$dir"

              for BENCH in */ ; do
                  # Skip benchmarks that do not compile or not work properly
                  case "$dir$BENCH" in
                      "kernel/pm/"| \
                      "kernel/isqrt/"| \
                      "sequential/rijndael_dec/"| \
                      "sequential/rijndael_enc/")
                          echo "Skipping ${dir}${BENCH}"
                          continue
                          ;;
                  esac

                  printf "Checking ${dir}${BENCH}\n"
                  cd "$BENCH"

                  if [ -f a.out ]; then
                      rm a.out
                  fi

                  if [ -f *.o ]; then
                      rm *.o
                  fi
          
                  $COMPILER $COMPILER_OPTIONS *.c
          
                  if [ -f a.out ]; then
                      $EXEC ./a.out
                      RETURNVALUE=$(echo $?)
                      if [ $RETURNVALUE -eq 0 ]; then
                          printf "passed. \n"
                          ((PASS++))
                      else
                          printf "failed (wrong return value $RETURNVALUE). \n"
                          ((FAIL_EXEC++))
                      fi
                  else
                    printf "failed (compiled with errors/warnings). \n"
                    ((FAIL_COMP++))
                  fi

                  cd ..
              done

              printf "Leaving ${dir}\n\n"
              cd ..
          done